@charset "ISO-8859-1";
.carousel-container
{
	width: 50%;
	margin: auto;
}
.description-carousel
{
	background-color: rgba(32, 27, 29, 0.62);
}
.card {
    margin-bottom: 30px;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid transparent;
    border-radius: 0;
}
.card .card-subtitle {
    font-weight: 300;
    margin-bottom: 10px;
    color: #8898aa;
}